@charset "UTF-8";
.main-container {
  padding-top: 90px; }

h1 {
  font-size: 2em;
  font-family: '微软雅黑', '黑体'; }

span.bigger-h1 {
  font-size: 1.5em; }

p {
  font-family: '宋体'; }

.btn {
  font-family: '微软雅黑', '黑体'; }
