<div class="page-header">
    <h1>表格排序、筛选与URL参数</h1>
    <p>表格的排序和筛选参照了教程
        <a href="https://scotch.io/tutorials/sort-and-filter-a-table-using-angular">Sort and Filter a Table Using Angular</a></p>
    <p>点击Sushi的名字的链接，可以把Sushi名和原材料作为URL参数。参数教程：
        <a href="https://scotch.io/tutorials/3-simple-tips-for-using-ui-router">3 Simple Tips for Using UI-Router</a></p>
</div>
<div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchFish }}</p>
</div>

<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>

            <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchFish">

        </div>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>
            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Sushi Roll
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span></a></td>
        <td>
            <a href="" ng-click="sortType = 'fish'; sortReverse = !sortReverse">Fish Type
                <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span></a></td>
        <td>
            <a href="" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">Taste Level
                <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span></a></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
        <td><a ui-sref="sushiDetail({ sushiName: roll.name, sushiIngredients: roll.fish})">{{ roll.name }}</a></td>
        <td>{{ roll.fish }}</td>
        <td>{{ roll.tastiness }}</td>
    </tr>
    </tbody>
</table>